{% extends "templates/base.jinja2" %}
{% block title %}Create Election{% endblock %}

{% block content %}
    <p>
        <br />Create election (this will be an admin page):
        <br />- this page will provide an interface to add new questions for the ballot,
        <br />- select voters list 
        <br />- set vote period ending date/time
        <br />- add election officers (those who can admin the election)
        <br />- start election
        <br />- (To be completed)
    </p>
{% endblock content %}
