{% extends "templates/base.jinja2" %}
{% block title %}Main{% endblock %}

{% block content %}
    <p >
        A main page where one can choose to go to the admin page(s) or to vote in the current running election.
        <br /> 
        <br /><a href="vote">Vote</a>
        <br /><a href="create-election">Create Election</a>
        <br /> 
        <br /> (To be completed)
    </p>
{% endblock content %}
