{% extends "templates/base.jinja2" %}
{% block title %}Vote{% endblock %}

{% block content %}
    <p >
        <br />Voting page
        <br />- Answer the available questions
        <br />- Verify the answers
        <br />- Cast vote
        <br />(To be completed)
    </p>
{% endblock content %}
